<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/blumoon729/Documents/CS77/cs77-graphics-final/assignment03/assign3build/03_animate.xcodeproj</string>
</dict>
</plist>
